---
import type { PageObjectResponseType } from "notro";
import { DatabaseProperty, getPlainText, OptimizedDatabaseCover } from "notro";

interface Props {
  posts: PageObjectResponseType[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 ? (
    <ul>
      {posts.map((data) => (
        <li>
          <article class="nt-collection-item">
            <OptimizedDatabaseCover
              cover={data.cover}
              alt={getPlainText(data.properties.Name)}
            />
            <DatabaseProperty property={data.properties.Date} />
            <span>{getPlainText(data.properties.Name)}</span>
            <DatabaseProperty property={data.properties.Description} />
            <DatabaseProperty property={data.properties.Tags} />
          </article>
        </li>
      ))}
    </ul>
  ) : null
}
